Django==5.2.1
psycopg2-binary
gunicorn
django-environ
python-dotenv
django-debug-toolbar
django-extensions
django-unfold
djangorestframework
django-import-export
django-widget-tweaks
Pillow
redis
django-q
pytz==2025.2
requests==2.32.3